<div class="card-produto">
  <a [routerLink]="[produtoId]"
    ><div class="image-container">
      <img [src]="[imagemProduto]" alt="" />
    </div>
  </a>

  <a>
    <div class="nome-produto">
      <h3>{{ produtoNome }}</h3>
    </div>
  </a>

  <div class="preco">
    <p>R$ {{produtoPreco}}</p>
  </div>

  <div class="parcelas">
    <div class="numero-parcelas">{{parcelaProduto}}</div>
    <div>x de</div>
    <div class="preco-parcela">R$ {{precoProdutoParcelado}}</div>
    <div>sem juros</div>
  </div>
</div>
