body {
  margin-top: 100px;
  width: 150vh;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.home-page {
  margin-top: 100px;
}

body > h3 {
  padding: 10px 10px;
}

.fachada > img {
  width: 150vh;
}
