<body>
  <div class="home-page">
    <div class="fachada">
      <img src="../../../../assets/home/fachada2.jpg" alt="fachada" />
    </div>

    <app-titulo-descricao
      titulo="CONHEÇA A LABTECH"
      descricao="A LabTech é uma empresa inovadora e comprometida com a missão de restaurar a qualidade de vida das pessoas por meio de próteses de última geração. Fundada com paixão e expertise, a LabTech tem sido uma referência no campo das próteses, liderando a indústria com tecnologia de ponta e soluções inovadoras.
    A história da LabTech é marcada por um compromisso implacável com a inovação e o aprimoramento contínuo. Desde a nossa fundação, temos investido em pesquisa e desenvolvimento para criar próteses que não apenas reconstroem partes do corpo, mas também devolvem a confiança e a independência aos nossos pacientes."
    >
    </app-titulo-descricao>

    <app-titulo-descricao
      titulo="NOSSA ESTRUTURA"
      descricao="Na LabTech, estamos comprometidos em fornecer um ambiente abrangente e acolhedor para nossos pacientes. Parte integrante dessa abordagem é a nossa infraestrutura de ponta, que inclui a Sala de Treinamento e a Sala de Reabilitação, projetadas para atender às necessidades específicas de cada indivíduo.
    Nossa Sala de Treinamento é um espaço dedicado ao desenvolvimento e aprimoramento das habilidades dos pacientes que utilizam próteses. Equipada com tecnologia de ponta, esta sala é projetada para auxiliar na adaptação e treinamento inicial dos pacientes, ajudando-os a se acostumar com suas próteses de maneira gradual e confortável.
    A Sala de Reabilitação é um espaço dedicado à reabilitação de longo prazo, onde os pacientes podem continuar a aprimorar suas habilidades, recuperar a força e a confiança. Este ambiente é projetado para promover a independência e a qualidade de vida dos nossos pacientes a longo prazo."
    >
    </app-titulo-descricao>

    <app-imagem-descricao
      url="../../../../assets/home/card-1.jpg"
      alt="imagem da sala de reabilitação"
      descricao="Sala de Reabilitação"
    >
    </app-imagem-descricao>

    <app-imagem-descricao
      url="../../../../assets/home/card-2.jpg"
      alt="imagem da sala de treinamento"
      descricao="Sala de Treinamento"
    >
    </app-imagem-descricao>

    <app-titulo-descricao
      titulo="NOSSA EQUIPE"
      descricao="Profissionais com vasta experiência em Órtese e Prótese, treinados e certificados pelos principais fabricantes mundiais de produtos ortopédicos. Trabalhamos com foco total na reabilitação do paciente, através de um clima humanizado, com carinho e atenção em todas as etapas do seu desenvolvimento. Oferecemos acompanhamento técnico e terapêutico, realizando checagens e ajustes periódicos, até a reabilitação total nas suas funções e atividades diárias."
    >
    </app-titulo-descricao>

    <app-imagem-descricao
      url="../../../../assets/home/card-3.jpg"
      alt="cliente realizando alinhamento de prótese"
      descricao="Protesista realizando alinhamento a Laser de prótese em cliente"
    >
    </app-imagem-descricao>

    <app-imagem-descricao
      url="../../../../assets/home/card-4.jpg"
      alt="Cliente realizando sessão de reabilitação"
      descricao="Sessão de Reabilitação de cliente transtibial com fisioterapeuta especializado"
    >
    </app-imagem-descricao>

    <app-imagem-descricao
      url="../../../../assets/home/card-5.jpg"
      alt="Protesista efetuando ajustes"
      descricao="Protesista efetuando ajustes finos em prótese"
    >
    </app-imagem-descricao>

    <app-localidade
      titulo="NOSSA LOCALIZAÇÃO"
      descricao="A LabTech fica sediada em uma região de localização com fácil acesso de todas as regiões de Castanhal e de outras localidades, próxima as principais rodovias. Rodeada de área verde, devido à proximidade com um dos principais parques da cidade, que possui diversas atividades que podem ser exploradas em atividades de reabilitação, serviços e recreação."
    >
    </app-localidade>
  </div>

  <h1>Quem somos?</h1>
</body>
