<div class="container">
  <div class="box">
    <h1>Controle De Estoque - LabTech</h1>
    <div class="menu-bar">
      <!-- <p class="itens-menu-bar" (click)="mudarAba('inicio')" [ngStyle]="{ -->
      <!--     'border-bottom': inicioAtivo ? '2px solid black' : 'none' -->
      <!--   }"> -->
      <!--   Incial -->
      <!-- </p> -->
      <!---->
      <p class="itens-menu-bar" (click)="mudarAba('cadastro')" [ngStyle]="{
          'border-bottom': cadastroAtivo ? '2px solid black' : 'none'
        }">
        Cadastro
      </p>
      <p class="itens-menu-bar" (click)="mudarAba('movimentacao')" [ngStyle]="{
          'border-bottom': movimentacaoAtivo ? '2px solid black' : 'none'
        }">
        Movimentações
      </p>
      <p class="itens-menu-bar" (click)="mudarAba('estoque')" [ngStyle]="{
          'border-bottom': estoqueAtivo ? '2px solid black' : 'none'
        }">
        Estoque
      </p>
    </div>

    <!-- <div class="" *ngIf="inicioAtivo">Inicio</div> -->

    <div class="" *ngIf="cadastroAtivo" class="tabela-cadastro">
      <app-cadastro></app-cadastro>
    </div>

    <div class="tabela" *ngIf="movimentacaoAtivo">
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Classificação</th>
            <th>Nome/Produto</th>
            <th>Quantidade</th>
            <th>Custo Unitário</th>
            <th>SubTotal</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of listaProdutosSaida">
          <tr>
            <td>{{ item.data }}</td>
            <td>{{ item.classificacao }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.custoUnitario }}</td>
            <td>{{ item.subtotal }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tabela-estoque" *ngIf="estoqueAtivo">
      <thead>
        <tr>
          <th>Nome produto</th>
          <th>Quantidade em estoque</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of listaProdutoEstoque">
        <tr>
          <td>{{ item.nome }}</td>
          <td *ngIf="item.quantidade < 15" style="color: red">
            <div class="box-linha">
              <p>{{ item.quantidade }} - Estoque de produto baixo</p>
              <button type="" (click)="editarProduto(item.idproduto)">
                Editar
              </button>
            </div>
          </td>
          <td *ngIf="item.quantidade >= 15" style="color: green">
            <div class="box-linha">
              <p>
                {{ item.quantidade }}
              </p>
              <button type="" (click)="editarProduto(item.idproduto)">
                Editar
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </div>

    <div class="atualizar-produto" *ngIf="atualizarProdutoAtivo">
      <app-atualizar-produto [nome]="produto.nome" [categoria]="produto.categoria" [valor]="produto.valor"
        [quantidade]="produto.quantidade" [tamanho]="produto.tamanho" [urlimg]="produto.urlimg" [peso]="produto.peso"
        [descricao]="produto.descricao" [idproduto]="produto.idproduto">
      </app-atualizar-produto>
    </div>
  </div>
</div>
