<div class="container">
  <div class="box">
    <h1>Controle De Estoque - LabTech</h1>
    <div class="menu-bar">
      <p class="itens-menu-bar" (click)="mudarAba('inicio')">Incial</p>
      <p class="itens-menu-bar" (click)="mudarAba('cadastro')">Cadastro</p>
      <p class="itens-menu-bar" (click)="mudarAba('movimentacao')">
        Movimentações
      </p>
      <p class="itens-menu-bar" (click)="mudarAba('estoque')">Estoque</p>
    </div>

    <div class="" *ngIf="inicioAtivo">Inicio</div>

    <div class="" *ngIf="cadastroAtivo">Cadastro</div>

    <div class="tabela" *ngIf="movimentacaoAtivo">
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Classificação</th>
            <th>Nome/Produto</th>
            <th>Quantidade</th>
            <th>Custo Unitário</th>
            <th>Armazenagem</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of listaProdutosSaida">
          <tr>
            <td>{{ item.data }}</td>
            <td>{{ item.classificacao }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.custoUnitario }}</td>
            <td>Interna</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="" *ngIf="estoqueAtivo">Estoque</div>
  </div>
</div>
