<div class="container">
  <div class="box">
    <h1>Controle De Estoque - LabTech</h1>
    <div class="menu-bar">
      <p class="itens-menu-bar" (click)="mudarAba('inicio')" [ngStyle]="{
          'border-bottom': inicioAtivo ? '2px solid black' : 'none'
        }">
        Incial
      </p>

      <p class="itens-menu-bar" (click)="mudarAba('cadastro')" [ngStyle]="{
          'border-bottom': cadastroAtivo ? '2px solid black' : 'none'
        }">
        Cadastro
      </p>
      <p class="itens-menu-bar" (click)="mudarAba('movimentacao')" [ngStyle]="{
          'border-bottom': movimentacaoAtivo ? '2px solid black' : 'none'
        }">
        Movimentações
      </p>
      <p class="itens-menu-bar" (click)="mudarAba('estoque')" [ngStyle]="{
          'border-bottom': estoqueAtivo ? '2px solid black' : 'none'
        }">
        Estoque
      </p>
    </div>

    <div class="" *ngIf="inicioAtivo">Inicio</div>

    <div class="" *ngIf="cadastroAtivo" class="tabela-cadastro">
      <!-- <thead> -->
      <!--   <tr> -->
      <!--     <th>Campos</th> -->
      <!--     <th>Dados novo produto</th> -->
      <!--   </tr> -->
      <!-- </thead> -->
      <!-- <tbody> -->
      <!--   <tr> -->
      <!--     <td>Nome</td> -->
      <!--     <td><input type="" name="" value="" /></td> -->
      <!--   </tr> -->
      <!--   <tr> -->
      <!--     <td>Categoria</td> -->
      <!--     <td><input type="" name="" value="" /></td> -->
      <!--   </tr> -->
      <!--   <tr> -->
      <!--     <td>Preço</td> -->
      <!--     <td><input type="" name="" value="" /></td> -->
      <!--   </tr> -->
      <!--   <tr> -->
      <!--     <td>Quantidade</td> -->
      <!--     <td><input type="" name="" value="" /></td> -->
      <!--   </tr> -->
      <!---->
      <!--   <tr> -->
      <!--     <td>Tamanho</td> -->
      <!--     <td><input type="" name="" value="" /></td> -->
      <!--   </tr> -->
      <!---->
      <!--   <tr> -->
      <!--     <td>Url Imagem</td> -->
      <!--     <td><input type="" name="" value="" /></td> -->
      <!--   </tr> -->
      <!---->
      <!--   <tr> -->
      <!--     <td>Peso</td> -->
      <!--     <td><input type="" name="" value="" /></td> -->
      <!--   </tr> -->
      <!---->
      <!--   <tr> -->
      <!--     <td>Descrição</td> -->
      <!--     <td><input type="" name="" value="" /></td> -->
      <!--   </tr> -->
      <!-- </tbody> -->

      <!-- <div class="campo"> -->
      <!--   <div>Nome do produto:</div> -->
      <!--   <div>Nome do produto:</div> -->
      <!-- </div> -->
      <!-- <div class="dados-produto"> -->
      <!--   <input type="text" name="" value="" placeholder="nome produto" /> -->
      <!-- </div> -->

      <div class="box-cadastro">
        <div class="box-left">Nome Produto:</div>
        <div class="box-right">
          <input type="text" name="" value="evan" />
        </div>
      </div>

      <div class="box-cadastro">
        <div class="box-left">Categoria Produto:</div>
        <div class="box-right">
          <!-- <input type="text" name="" value="Protese" /> -->
          <select id="produtos" name="produtos">
            <option value="Prótese">Prótese</option>
            <option value="Órtese">Órtese</option>
            <option value="Calçado">Calçado</option>
            <!-- Adicione mais opções conforme necessário -->
          </select>
        </div>
      </div>
    </div>

    <div class="tabela" *ngIf="movimentacaoAtivo">
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Classificação</th>
            <th>Nome/Produto</th>
            <th>Quantidade</th>
            <th>Custo Unitário</th>
            <th>SubTotal</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of listaProdutosSaida">
          <tr>
            <td>{{ item.data }}</td>
            <td>{{ item.classificacao }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.custoUnitario }}</td>
            <td>{{ item.subtotal }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tabela-estoque" *ngIf="estoqueAtivo">
      <thead>
        <tr>
          <th>Nome produto</th>
          <th>Quantidade em estoque</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of listaProdutoEstoque">
        <tr>
          <td>{{ item.nome }}</td>
          <td *ngIf="item.quantidade < 15" style="color: red">
            {{ item.quantidade }} - Estoque de produto baixo
          </td>
          <td *ngIf="item.quantidade >= 15" style="color: green">
            {{ item.quantidade }}
          </td>
        </tr>
      </tbody>
    </div>
  </div>
</div>
