.produto-box {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.produto-container {
  /* border: 1px solid rebeccapurple; */
  width: 1140px;
  min-height: 80vh;
  display: flex;
}

.produto-container-left {
  /* border: 1px solid orange; */
  min-width: 682px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  width: 100%; /* Certifique-se de que a div ocupa 100% da largura disponível */
  overflow: hidden; /* Para cortar qualquer parte da imagem que exceda a div */
}

.imagens {
  display: flex;
  /* border: 1px solid red; */
  width: 320px;
  min-width: 320px;
  height: 320px;
}

.image-container {
  /* border: 1px solid grey; */
  min-width: 320px;
  min-height: 320px;
}

.image-container > img {
  /* border: 1px solid red; */
  max-width: 320px; /* Defina a largura máxima da imagem como 100% */
  /* max-height: 320px; */
  /* min-width: 320px; */
  /* min-height: 320px; */
  width: 100%; /* Ocupa 100% da largura da div */
  height: 100%; /* Ocupa 100% da altura da div */

  /* border: 1px solid #d5d9d9; */
  border-radius: 5px;
  object-fit: cover; /* Preenche a div e corta o excesso mantendo a proporção original */
  object-position: center; /* Alinha o centro da imagem à div (pode ser ajustado conforme necessário) */
}

.produto-container-right {
  /* border: 1px solid blue; */
  min-width: 242px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.box-right {
  border: 1px solid #d5d9d9;
  border-radius: 10px; /* Adicione esta linha para bordas arredondadas, ajuste o valor conforme necessário */
  min-width: 242px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.produto-container-right > .box-right > h3 {
  font-size: 20px;
  min-height: 51.4px;
  color: rgb(65, 65, 65);
  text-align: justify;
  font-family: montserrat, Sans-serif;
  text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto é cortado */
  overflow: hidden; /* Esconde o conteúdo que excede o espaço disponível */
  -webkit-line-clamp: 2; /* Limita o texto a no máximo duas quebras de linha (em navegadores baseados no WebKit) */
  display: -webkit-box; /* Define o elemento como um bloco de caixa flexível (em navegadores baseados no WebKit) */
  -webkit-box-orient: vertical; /* Orienta o bloco de caixa verticalmente (em navegadores baseados no WebKit) */
}

.produto-container-right > .box-right > p {
  text-align: justify;
  font-size: 32px;
  text-transform: uppercase;
  font-family: montserrat, Sans-serif;
  font-weight: 550;
}

.produto-container-right > .box-right > h5 {
  color: gray;
  text-transform: uppercase;
  text-decoration: underline;
}

.produto-container-right > .box-right > hr {
  border: 1px solid rgba(0, 0, 0, 0.434);
}

.parcelas {
  display: flex;
  justify-content: center;
  max-width: 229px;
  border: 1px solid black;
  display: flex;
  gap: 5px;
  text-align: center;
  font-family: montserrat, Sans-serif;
  padding: 5px;
}

.parcelas > .numero-parcelas {
  font-weight: 700;
}

.parcelas > .preco-parcela {
  font-weight: 700;
}

.botoes {
  display: flex;
  gap: 5px;
}

.botoes > button {
  width: 30px;
  height: 30px;
}

.quantidade-produto {
  display: flex;
}

.quantidade-produto > input {
  width: 40px;
  height: 30px;
  font-size: 20px;
  border: 1px solid black;
}

.quantidade-produto > button {
  width: 30px;
  height: 30px;
}

.botoes-incremento > button {
  width: 20px;
  height: 20px;
}

.comprar-button {
  cursor: pointer;
  margin-top: 15px;
  height: 40px;
  background-color: #ffa41c;
  border-radius: 15px;
}

.comprar-button:hover {
  background-color: #ff8c00; /* Altere para a cor desejada quando estiver no estado hover */
}

.container-informacao {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 630px;
  /* margin-top: 50px; */
  /* border: 1px solid red; */
}

.container-informacao > .descricao {
  min-width: 315px;
  /* border: 1px solid blue; */
}

.descricao > h1 {
  margin-bottom: 15px;
}

.descricao > h3 {
  margin-bottom: 15px;
}

.descricao > p {
  text-align: justify;
  font-size: 12px;
  margin-bottom: 5px;
}

.container-informacao > .ficha-tecnica {
  display: flex;
  justify-content: center;
  min-width: 315px;
}

.tabela-ficha-tecnica {
  width: 100%;
}

.tabela-ficha-tecnica > .linha1 {
  background-color: rgba(235, 144, 59, 0.5);
}

.tabela-ficha-tecnica table {
  border-collapse: collapse; /* Opcional para remover espaçamento entre células */
}

.tabela-ficha-tecnica th,
.tabela-ficha-tecnica td {
  font-size: 12px;
  width: 30%; /* Divide igualmente o espaço disponível entre as colunas */
  border: 1px solid #000; /* Estilo de borda (opcional) */
  padding: 8px; /* Espaçamento interno (opcional) */
}

.column2 {
  font-weight: 700;
}
