<div class="produto-box">
  <div class="produto-container">
    <div class="produto-container-left">
      <div class="imagens">
        <div class="image-container">
          <img
            [src]="[imagemProduto]"
            (error)="carregarImagemPadrao()"
            alt=""
          />
        </div>
      </div>

      <div class="container-informacao">
        <div class="descricao">
          <h1>{{ nomeProduto }}</h1>
          <h3>Descrição comercial</h3>
          <p>{{ descricaoProduto }}</p>

          <h3>Detalhe Técnico</h3>
          <p>
            Liner de gel de poliuretano sem conexão distal, espessura
            anterior/distal 6 mm, espessura posterior 3 mm, revestimento têxtil
            cor bege. A ser usado em combinação com a joelheira 4W80 e válvulas
            7W260 ou 7W265. Também pode ser usado com o anel de vedação 5W700 e
            a válvula com expulsão automática/manual 7W264. Indicado para
            próteses abaixo do joelho, para pacientes com um grau de atividade
            moderado. P - Circunferência Distal = 15 a 22cm - Circunferência
            Proximal 22 a 35cm, P+ - Circunferência Distal = 16 a 25 cm -
            Circunferência Proximal 23 a 37cm, M - Circunferência Distal = 20 a
            32 cm - Circunferência Proximal 27 a 43cm, G - Circunferência Distal
            = 21 a 33 cm - Circunferência Proximal 37 a 59cm, G+ -
            Circunferência Distal = 26 a 41 cm - Circunferência Proximal 40 a
            64cm, GG - Circunferência Distal = 27 a 43 cm - Circunferência
            Proximal 42 a 68cm. IMPORTANTE: para definir o tamanho ideal do
            Liner, é necessário medir as circunferências distal e proximal,
            assim como o comprimento do coto. Todos Liners transtibiais podem
            ser usados com o Distal Cup 4W2005, que “funde” com o gel na
            primeira colocação, criando uma espessura distal em 9 mm.
          </p>
          <h3>Aplicação e modo de usar</h3>
          <p>
            Para uso em encaixe transtibial com sistema de suspensão com
            joelheira. Para vestir o liner, segurar na ponta distal do produto e
            virar maior parte do comprimento do avesso, expondo o lado com gel.
            Com ajuda de um borrifador, espalhar álcool sob a pele do coto e
            higienizar, promovendo assim melhor contato com o material de gel do
            liner. Encaixar a ponta distal do liner na ponta distal do coto e ir
            desinrolando o produto até o final do coto. Para retirar o liner,
            seguir o mesmo procedimento de vestir. Sempre higienizar e deixar
            secar a sombra e em local arejado, longe de fontes de calor.
          </p>
        </div>

        <h3>Ficha Técnica</h3>
        <div class="ficha-tecnica">
          <div class="tabela-ficha-tecnica">
            <tr class="linha1">
              <td>Código</td>
              <td class="column2">10524</td>
            </tr>
            <tr class="linha2">
              <td>Código de fábrica</td>
              <td class="column2">12455</td>
            </tr>
            <tr class="linha1">
              <td>Cor</td>
              <td class="column2">Natural</td>
            </tr>

            <tr class="linha2">
              <td>Categoria</td>
              <td class="column2">Protése</td>
            </tr>

            <tr class="linha1">
              <td>Tamanho</td>
              <td class="column2">P, M, L</td>
            </tr>

            <tr class="linha2">
              <td>Peso</td>
              <td class="column2">2,0kg</td>
            </tr>

            <tr class="linha1">
              <td>Modelo</td>
              <td class="column2">Supreme Gel Suspension</td>
            </tr>
          </div>
          <p></p>
        </div>
      </div>
    </div>

    <div class="produto-container-right">
      <div class="box-right">
        <p>R$ {{ precoProduto }}</p>
        <div class="parcelas">
          <div class="numero-parcelas">6</div>
          <div>x de</div>
          <div class="preco-parcela">R$ 10.00</div>
          <div>sem juros</div>
        </div>
        <h4>5% de desconto no pix</h4>
        <h5>Ver meios de pagamento</h5>
        <hr />
        <h3>Tamanho: {{ tamanhoProduto }}</h3>
        <div class="botoes">
          <button type="" (click)="definirTamanhoProduto('P')">P</button>
          <button type="" (click)="definirTamanhoProduto('M')">M</button>
          <button type="" (click)="definirTamanhoProduto('L')">L</button>
        </div>
        <h3>QUANTIDADE - (Disponível: {{ quantidadeDisponivel }} )</h3>
        <div class="quantidade-produto">
          <button type="" (click)="diminuirQuantidade()">-</button>
          <input
            type="text"
            min="1"
            max="{{ quantidadeDisponivel }}"
            value="{{ quantidade }}"
          />
          <button type="" (click)="aumentarQuantidade()">+</button>
        </div>

        <button
          type=""
          class="comprar-button"
          (click)="abrirCarrinhoDeCompras()"
        >
          Comprar
        </button>
      </div>
    </div>
  </div>
</div>
