<div class="produto-box">
  <div class="produto-container">
    <div class="produto-container-left">
      <div class="image-container">
        <img [src]="[imagemProduto]" (error)="carregarImagemPadrao()" alt="" />
      </div>
    </div>

    <div class="produto-container-right">
      <h3>{{ nomeProduto }}</h3>
      <p>R$ {{ precoProduto }}</p>
      <div class="parcelas">
        <div class="numero-parcelas">6</div>
        <div>x de</div>
        <div class="preco-parcela">R$ 10.00</div>
        <div>sem juros</div>
      </div>
      <h4>5% de desconto no pix</h4>
      <h5>Ver meios de pagamento</h5>
      <hr />
      <h3>TAMANHO: {{ tamanhoProduto }}</h3>
      <div class="botoes">
        <button type="" (click)="definirTamanhoProduto('P')">P</button>
        <button type="" (click)="definirTamanhoProduto('M')">M</button>
        <button type="" (click)="definirTamanhoProduto('L')">L</button>
      </div>
      <h3>QUANTIDADE - (Disponível: {{ quantidadeDisponivel }} )</h3>
      <div class="quantidade-produto">
        <button type="" (click)="diminuirQuantidade()">-</button>
        <input
          type="text"
          min="1"
          max="{{ quantidadeDisponivel }}"
          value="{{ quantidade }}"
        />
        <button type="" (click)="aumentarQuantidade()">+</button>
      </div>

      <button type="" class="comprar-button">Comprar</button>
    </div>
  </div>
</div>
