.produto-box {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.produto-container {
  /* border: 1px solid rebeccapurple; */
  width: 1140px;
  min-height: 80vh;
  display: flex;
}

.produto-container-left {
  /* border: 1px solid orangered; */
  min-width: 682px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container > img {
  max-width: 653px; /* Defina a largura máxima da imagem como 100% */
  max-height: 550px;
}

.produto-container-right {
  /* border: 1px solid blue; */
  min-width: 458px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.produto-container-right > h3 {
  font-size: 24px;
  min-height: 51.4px;
  color: rgb(65, 65, 65);
  text-align: justify;
  text-transform: uppercase;
  font-family: montserrat, Sans-serif;
  text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto é cortado */
  overflow: hidden; /* Esconde o conteúdo que excede o espaço disponível */
  -webkit-line-clamp: 2; /* Limita o texto a no máximo duas quebras de linha (em navegadores baseados no WebKit) */
  display: -webkit-box; /* Define o elemento como um bloco de caixa flexível (em navegadores baseados no WebKit) */
  -webkit-box-orient: vertical; /* Orienta o bloco de caixa verticalmente (em navegadores baseados no WebKit) */
}

.produto-container-right > p {
  text-align: justify;
  font-size: 32px;
  text-transform: uppercase;
  font-family: montserrat, Sans-serif;
  font-weight: 550;
}

.produto-container-right > h5 {
  color: gray;
  text-transform: uppercase;
  text-decoration: underline;
}

.produto-container-right > hr {
  border: 1px solid rgba(0, 0, 0, 0.434);
}

.parcelas {
  display: flex;
  justify-content: center;
  max-width: 229px;
  border: 1px solid black;
  display: flex;
  gap: 5px;
  text-align: center;
  font-family: montserrat, Sans-serif;
  padding: 5px;
}

.parcelas > .numero-parcelas {
  font-weight: 700;
}

.parcelas > .preco-parcela {
  font-weight: 700;
}

.botoes {
  display: flex;
  gap: 10px;
}

.botoes > button {
  width: 50px;
  height: 50px;
}

.quantidade-produto {
  display: flex;
}

.quantidade-produto > input {
  width: 30px;
  height: 30px;
  font-size: 30px;
  border: 1px solid black;
}

.quantidade-produto > button {
  width: 30px;
  height: 30px;
}

.botoes-incremento > button {
  width: 20px;
  height: 20px;
}

.comprar-button {
  height: 40px;
  background-color: rgba(235, 144, 59);
}

.container-informacao {
  display: flex;
  gap: 10px;
  width: 630px;
  margin-top: 50px;
  /* border: 1px solid red; */
}

.container-informacao > .descricao {
  min-width: 315px;
  /* border: 1px solid blue; */
}

.container-informacao > .ficha-tecnica {
  min-width: 315px;
  /* border: 1px solid blue; */
}

.descricao > p {
  text-align: justify;
  font-size: 12px;
}

.tabela-ficha-tecnica > .linha1 {
  background-color: rgba(235, 144, 59, 0.886);
}

.tabela-ficha-tecnica table {
  width: 100%;
  border-collapse: collapse; /* Opcional para remover espaçamento entre células */
}

.tabela-ficha-tecnica th,
.tabela-ficha-tecnica td {
  font-size: 12px;
  width: 33.33%; /* Divide igualmente o espaço disponível entre as colunas */
  border: 1px solid #000; /* Estilo de borda (opcional) */
  padding: 8px; /* Espaçamento interno (opcional) */
}

.column2 {
  font-weight: 700;
}
