<div class="rodape">
  <div class="midias">
    <a href="#">
      <img
        src="../../../assets/rodape/icone-facebook.svg"
        alt="icone facebook"
      />
    </a>
    <a href="#">
      <img
        src="../../../assets/rodape/icone-twitter.svg"
        alt="icone instagram"
      />
    </a>
    <a href="#">
      <img
        src="../../../assets/rodape/icone-linkedin.svg"
        alt="icone linkedin"
      />
    </a>
  </div>
  <div class="contato">
    <p>
      Contato: <a href="mailto:seuemail@example.com">labtech@imagineai.com</a>
    </p>
    <p>Telefone: (91) 99999-9999</p>
    <p>Endereço: Avenida dos universitários, Castanhal-PA, Brasil</p>
    <p>© 2023 LabTech. Todos os direitos reservados.</p>
  </div>
</div>
