.title-bar__component {
  background-color: #1b1b1b;
  /* position: fixed; */
  height: 90px;
  /* border: 1px solid blue; */
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-bar__nav-link a.activated {
  /* border-top: 1px solid rgb(255, 255, 255); */
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: border 0.1s ease;
}

.title-bar__nav-link a.activated:hover {
  /* border-top: 2px solid #eb903be2; /* Barra superior ao passar o mouse */
  border-bottom: 2px solid #dba782; /* Barra inferior ao passar o mouse */
}

.title-bar__component-image_container > img {
  max-width: 218px;
}

.title-bar__nav-buttons {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.search-container > input {
  background: #1b1b1b;
  color: white;
  height: 25px;
  border-bottom: 1px solid #dba782;
  outline: none;
}

.search-input:hover {
  color: #dba782;
  color: --marroom-claro;
  border: 1px solid #dba782;
}

.title-bar__nav-link {
  display: flex;
  gap: 10px;
  list-style: none;
  text-transform: uppercase;
}

.title-bar__nav-link > a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.title-bar__nav-link > a:hover {
  color: #dba782;
}

.search-button > img {
  max-width: 20px;
}

.title-bar__nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-buttons_image > img {
  max-width: 20px;
}
