<div class="title-bar__component">
  <div class="title-bar__component-image_container">
    <img src="../../../assets/images/LabTech-logo.png" alt="" />
  </div>
  <div class="title-bar__nav-link">
    <!-- router link permite rotas single page -->
    <a
      [routerLink]="['/']"
      [routerLinkActive]="['activated']"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a [routerLink]="['/produtos']" [routerLinkActive]="['activated']"
      >Loja Virtual</a
    >
    <a [routerLink]="['/proteses']" [routerLinkActive]="['activated']"
      >Próteses</a
    >
    <a [routerLink]="['/servicos']" [routerLinkActive]="['activated']"
      >Serviços</a
    >
    <a [routerLink]="['/contato']" [routerLinkActive]="['activated']"
      >Contato</a
    >
  </div>

  <div class="title-bar__nav-buttons">
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Pesquisar..." />
    </div>

    <div class="search-button">
      <a href="#">
        <img src="../../../assets/menu-bar/lupa.png" alt="" />
      </a>
    </div>

    <div class="nav-buttons_image">
      <a href="#">
        <img src="../../../assets/menu-bar/user.png" alt="" />
      </a>
    </div>

    <div class="nav-buttons_image">
      <a href="#" (click)="abrirCarrinhoDeCompras()"
        ><img src="../../../assets/menu-bar/carrinho.png" alt=""
      /></a>

      <app-carrinho *ngIf="carrinhoAtivo"></app-carrinho>
    </div>
  </div>
</div>
