<body>
  <h3>Contato</h3>

  <div class="contato">
    <div class="informacoes">
      <h1>MEIOS DE CONTATO</h1>
      <p>Telefone: (91) 9999-9999</p>
      <p>E-mail: labtech@imagineai.com</p>
      <p>Avenida dos universitário, Castanhal</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.16815681338!2d-47.9007527!3d-1.2995816!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a5a66d0623f2bb%3A0x317245e34595833c!2sUFPA%20-%20Universidade%20Federal%20do%20Par%C3%A1%20-%20Campus%20I%20Castanhal!5e0!3m2!1spt-PT!2sbr!4v1699029860609!5m2!1spt-PT!2sbr"
        width="400"
        height="300"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
    <div class="formulario">
      <form action="" method="">
        <label for="nome">Nome Completo:</label>
        <input type="text" id="nome" name="nome" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="telefone">Telefone:</label>
        <input type="tel" id="telefone" name="telefone" />

        <label for="mensagem">Mensagem:</label>
        <textarea id="mensagem" name="mensagem" rows="4" required></textarea>

        <input type="submit" value="Enviar" />
      </form>
    </div>
  </div>
</body>
