<div class="produto-card">
  <div box-right-container>
    <div class="box-right">
      <img
        src="https://acdn.mitiendanube.com/stores/001/097/946/products/articulacao-protetica-de-joelho-3r80-11-3d30f02f26fa2ffb9d15844040244923-320-0.webp"
        alt="img"
      />
      <p>
        Nome do produto extremamente grande e comprido podendo não caber dentro
        do espaço
      </p>
    </div>

    <p>R$: 49.99</p>

    <div class="botoes-incremento">
      <button type="">-</button>
      <input type="text" min="1" max="" value="1" />
      <button type="">+</button>
    </div>
  </div>

  <div class="box-left">
    <p>RS: 100,00</p>
    <button type="">X</button>
  </div>
</div>
