.produto-card {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  border-bottom: 1px solid black;
}

.box-left {
  display: flex;
  /* border: 1px solid blue; */
  width: 300px;
}

.box-left > img {
  margin-right: 10px;
  max-width: 60px;
  max-height: 60px;
  min-width: 60px;
  min-height: 60px;
}

.box-left > p {
  text-align: left;
  font-size: 15px;
  font-weight: bolder;
  max-height: 30px;
}

.box-right {
  border-right: 0;
  display: flex;
}

.box-right > p {
  font-weight: bolder;
  font-size: 12px;
}

.box-right > button {
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background: none;
  border: 1.5px solid black;
}

.box-right > button:hover {
  background-color: #f76161;
}

.botoes-incremento {
  /* border: 1px solid green; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.botoes-incremento > input {
  border: 1px solid black;
  width: 25px;
  height: 25px;
}

.botoes-incremento > button {
  background: none;
  border: 1px solid black;
  width: 25px;
  height: 25px;
}
