.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Estilize o fundo conforme necessário. */
  color: #fff; /* Estilize as cores de texto conforme necessário. */
  z-index: 100; /* Garanta que o menu esteja acima de outros elementos na página. */
  box-shadow: 0px 0px 10px black;
}

.rodape {
  bottom: 0;
}
