.product-page {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.product-grid {
  /* background: red; */
  /* border: 1px solid red; */
  width: 1140px;
  min-height: 100vh;
  display: flex;
}

.product-grid__box-filtros {
  border: 1px solid #d5d9d9;
  border-radius: 15px;
  padding: 5px;
  height: 50%;
  min-width: 195px;
}


.produtos > a {
  text-decoration: none;
  color: black;
}

.produtos > a:hover {
  color: blue;
}

.product-grid__box-products {
  display: grid; /* Define o elemento com a classe .product-grid__box-products como um grid container */
  grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de largura igual*/
  /* border: 1px solid purple; Adiciona uma borda de 1px sólida roxa ao redor do grid container */
  min-width: 945px; /* Define a largura mínima do grid container como 945 pixels */
}

.product-grid__box-filtros > .produtos {
  /* border: 1px solid red; */
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.product-grid__box-filtros > .filtros {
  /* border: 1px solid red; */
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}


.product-grid__box-filtros > .filtros {
  border-bottom: .5px solid gray;
  padding-bottom: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.product-grid__box-filtros > .cor {
  /* border: 1px solid red; */
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.product-grid__box-filtros > .cor > div > input {
  cursor: pointer;
}

.product-grid__box-filtros > .cor > div > label:hover {
  cursor: pointer;
  color: blue;
}

.product-grid__box-filtros > hr {
  margin-top: 20px;
  margin-right: 20px;
  /* margin-left: 10px; */
  border: 1px solid rgba(0, 0, 0, 0.434);
}

@media (max-width: 1140px) {
  /* Estilos para largura de tela menor que 1238px */
  /* Por exemplo, reduza o tamanho do texto, ajuste o layout, ou esconda elementos */
  .product-grid__box-products {
    display: grid; /* Define o elemento com a classe .product-grid__box-products como um grid container */
    grid-template-columns: repeat(3, 1fr); /* Cria 4 colunas de largura igual*/
    /* border: 1px solid purple; */
    min-width: 700px; /* Define a largura mínima do grid container como 945 pixels */
  }

  .product-grid {
    /* border: 1px solid red; */
    /* background: red; */
    width: 910px;
    min-height: 100vh;
    display: flex;
  }

  .product-page {
    /* background: red; */
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 910px) {
  .product-grid__box-products {
    display: grid; /* Define o elemento com a classe .product-grid__box-products como um grid container */
    grid-template-columns: repeat(2, 1fr); /* Cria 4 colunas de largura igual*/
    /* border: 1px solid purple; */
    min-width: 400px; /* Define a largura mínima do grid container como 945 pixels */
  }

  .product-grid {
    /* border: 1px solid red; */
    /* background: red; */
    width: 670px;
    min-height: 100vh;
    display: flex;
  }
}

@media (max-width: 670px) {
  .product-grid__box-filtros {
    display: none;
  }

  .product-grid {
    /* border: 1px solid red; */
    /* background: red; */
    width: 475px;
    min-height: 100vh;
    display: flex;
  }
}
