<div class="product-page">
  <div class="product-grid">
    <div class="product-grid__box-filtros">
      <div class="produtos">
        <h3>Produtos</h3>
        <a href="">Calçados</a>
        <a href="">Órteses</a>
        <a [routerLink]="'/proteses'">Próteses</a>
        <a href="">Marcas</a>
        <a href="">Promoções</a>
      </div>

      <div class="filtros">
        <h3>Filtros</h3>
      </div>

      <div class="cor">
        <h3>Cor</h3>
        <div class="cor-filtro">
          <input type="checkbox" id="minhaCaixaDeSelecao" />
          <label for="minhaCaixaDeSelecao"> Amarelo</label>
        </div>

        <div>
          <input type="checkbox" id="minhaCaixaDeSelecao" />
          <label for="minhaCaixaDeSelecao"> Branco</label>
        </div>
        <div>
          <input type="checkbox" id="minhaCaixaDeSelecao" />
          <label for="minhaCaixaDeSelecao"> Vermelho</label>
        </div>

        <div>
          <input type="checkbox" id="minhaCaixaDeSelecao" />
          <label for="minhaCaixaDeSelecao"> Verde</label>
        </div>

        <div>
          <input type="checkbox" id="minhaCaixaDeSelecao" />
          <label for="minhaCaixaDeSelecao"> Preto</label>
        </div>

        <div>
          <input type="checkbox" id="minhaCaixaDeSelecao" />
          <label for="minhaCaixaDeSelecao"> Marrom</label>
        </div>

        <div>
          <input type="checkbox" id="minhaCaixaDeSelecao" />
          <label for="minhaCaixaDeSelecao"> Roxo</label>
        </div>
      </div>
    </div>

    <div class="product-grid__box-products">
      <app-card-produto *ngFor="let produto of produtos" [produtoId]="produto.idproduto"
        [imagemProduto]="produto.urlimg" [produtoNome]="produto.nome" [produtoPreco]="produto.valor"></app-card-produto>
    </div>

  </div>
</div>
