.product-page {
  display: flex;
  justify-content: center;
}

.product-grid {
  /* border: 1px solid red; */
  width: 1140px;
  min-height: 100vh;
  display: flex;
}

.product-grid__box-filtros {
  border: 1px solid green;
  min-width: 195px;
}

.product-grid__box-products {
  display: grid; /* Define o elemento com a classe .product-grid__box-products como um grid container */
  grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de largura igual*/
  border: 1px solid purple; /* Adiciona uma borda de 1px sólida roxa ao redor do grid container */
  min-width: 945px; /* Define a largura mínima do grid container como 945 pixels */
}
