<div class="product-page">
  <div class="product-grid">
    <div class="product-grid__box-filtros">
      <h1>Produtos</h1>
    </div>
    <div class="product-grid__box-products">
      <app-card-produto
        [produtoId]="1"
        [imagemProduto]="
          'https://acdn.mitiendanube.com/stores/001/097/946/products/articulacao-protetica-de-joelho-3r80-11-3d30f02f26fa2ffb9d15844040244923-320-0.webp'
        "
        [produtoNome]="'Meia Coto Algodão Prothetic Sock'"
        [produtoPreco]="163.03"
      ></app-card-produto>

      <app-card-produto
        [produtoId]="2"
        [imagemProduto]="
          'https://acdn.mitiendanube.com/stores/001/097/946/products/4w9500_tt_edited11-424212351496c2764d15845749650640-320-0.webp'
        "
        [produtoNome]="'Meia Coto Algodão Prothetic Sock'"
        [produtoPreco]="163.03"
      ></app-card-produto>

      <app-card-produto
        [produtoId]="4"
        [imagemProduto]="
          'https://acdn.mitiendanube.com/stores/001/097/946/products/88041005711661-273ea55f2fb3954cc015881001421668-320-0.webp'
        "
        [produtoNome]="'Produto 4'"
        [produtoPreco]="79.5"
      ></app-card-produto>

      <app-card-produto
        [produtoId]="5"
        [imagemProduto]="
          'https://acdn.mitiendanube.com/stores/001/097/946/products/99b141-b6cb640f8f00fafcaf15844913950745-320-0.webp'
        "
        [produtoNome]="'Produto 5'"
        [produtoPreco]="199.0"
      ></app-card-produto>
    </div>
  </div>
</div>
