<div class="tabela-cadastro">
  <div class="box-cadastro">
    <div class="box-left">Nome Produto:</div>
    <div class="box-right">
      <input type="text" name="" value="evan" />
    </div>
  </div>

  <div class="box-cadastro">
    <div class="box-left">Categoria Produto:</div>
    <div class="box-right">
      <!-- <input type="text" name="" value="Protese" /> -->
      <select id="produtos" name="produtos">
        <option value="Prótese">Prótese</option>
        <option value="Órtese">Órtese</option>
        <option value="Calçado">Calçado</option>
        <!-- Adicione mais opções conforme necessário -->
      </select>
    </div>
  </div>

  <div class="box-cadastro">
    <div class="box-left">Preço Produto:</div>
    <div class="box-right">
      <input type="text" name="" value="10.00" />
    </div>
  </div>

  <div class="box-cadastro">
    <div class="box-left">Quantidade Produto:</div>
    <div class="box-right">
      <input type="text" name="" value="evan" />
    </div>
  </div>

  <div class="box-cadastro">
    <div class="box-left">Tamanho Produto:</div>
    <div class="box-right">
      <!-- <input type="text" name="" value="Protese" /> -->
      <select id="produtos" name="produtos">
        <option value="Prótese">P</option>
        <option value="Órtese">M</option>
        <option value="Calçado">L</option>
        <!-- Adicione mais opções conforme necessário -->
      </select>
    </div>
  </div>

  <div class="box-cadastro">
    <div class="box-left">Imagem URL:</div>
    <div class="box-right">
      <input type="text" name="" value="link" />
    </div>
  </div>

  <div class="box-cadastro">
    <div class="box-left">Peso Produto:</div>
    <div class="box-right">
      <input type="text" name="" value="10kg" />
    </div>
  </div>

  <div class="box-cadastro">
    <div class="box-left">Descrição Produto:</div>
    <div class="box-right">
      <textarea id="comentario" name="comentario" rows="4" cols="50" placeholder="Descrição do produto"></textarea>
    </div>
  </div>
</div>
