.tabela-cadastro {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: flex-end;
  height: 35px;
}

.box-cadastro {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
  /* background: red; */
}

.box-left {
  width: 33%;
  border: 1px solid black;
  padding: 7.5px 8px;
}

.box-right {
  width: 100%;
  display: flex;
  /* border: 1px solid blue; */
}

.box-right > input {
  /* border: 1px solid red; */
  /* height: 100%; */
  width: 100%;
  border: none;
  padding: 10px 10px;
  /* margin: 8px 0; */
  /* box-sizing: border-box; */
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.box-right > input:focus {
  border: 1px solid blue;
}

.box-right > select {
  /* border: 1px solid red; */
  /* height: 100%; */
  width: 100%;
  border: none;
  padding: 9px 9px;
  /* margin: 8px 0; */
  /* box-sizing: border-box; */
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
