<div class="servicos-page">
  <div class="servico">
    <img
      class="img"
      src="../../../../assets/servicos/Proterizacao.jpg"
      alt="Banner"
      height="350"
    />
    <h3>
      A protetização é a ação de se construir uma solução protética a quem busca
      o retorno da qualidade de vida após um processo de amputação de um membro.
      Ao decidir em utilizar uma prótese, a pessoa amputada irá participar de um
      processo simples, mas de grande importância.
    </h3>
  </div>

  <div class="dupla">
    <div class="imagem-descricao">
      <img
        src="../../../../assets/servicos/avaliacao-protese.jpg"
        alt="avaliação de protese"
      />
      <p>
        Esta é a primeira etapa da protetização. O Protesista realiza uma
        avaliação minuciosa do amputado e define como será a melhor combinação
        de prótese, levando em consideração a necessidade do usuário.
      </p>
    </div>

    <div class="imagem-descricao">
      <img
        src="../../../../assets/servicos/medidcas-tecnicas.jpg"
        alt="medidas tecnicas"
      />
      <p>
        Após a avaliação, é feita a medição técnica do membro residual do
        amputado, criando um molde em gesso e outras técnicas. Feito isto, dá-se
        início a confecção da prótese preparando o encaixe de teste e a montagem
        dos componentes
      </p>
    </div>
  </div>
</div>
