.servicos-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  /* border: 1px solid orange; */
  width: 1140px;
}

.servico > h3 {
  text-align: justify; /* Justifica o texto */
}

.servico {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: center;
}

.dupla {
  display: flex;
  flex-direction: row;
  /* border: 0.1px solid blue; */
  justify-content: center;
  gap: 40px;
}

.imagem-descricao {
  max-width: 570px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

.imagem-descricao > img {
  max-width: 550px;
  max-height: 388px;
}

.imagem-descricao > p {
  max-width: 550px;
  max-height: 388px;
  text-align: center; /* Justifica o texto */

  /* border: 1px solid red; */
}
