<div class="carrinho-compras-container">
  <div class="carrinho-compras-container__elementos">
    <div class="texto">
      <h3>CARRINHO DE COMPRAS</h3>
      <button type="" (click)="abrirCarrinhoDeCompras()">X</button>
    </div>
    <div class="total-produto">
      <p>PRODUTO</p>
      <p>SUBTOTAL</p>
    </div>

    <app-produto-card
      *ngFor="let produto of ordemDePedido.lista_produtos"
      [nome_produto]="produto.nome_produto"
      [srcImagem]="produto.imagem_produto"
      [preco_produto]="produto.preco_produto"
      [subtotal]="produto.subtotal"
      [quantidade_produto]="produto.quantidade_produto"
      [produto_id]="produto.produto_id"
      [tamanho_produto]="produto.tamanho_produto"
    ></app-produto-card>

    <div class="preco-parcial">
      <h5>SUBTOTAL (sem frete):</h5>
      <h4>
        {{ valorSemFrete | currency: "BRL" : "symbol" : "1.2-2" }}
      </h4>
    </div>
    <div class="frete">
      <p>Promoção de BlackFriday - Frete R$: 10,00 para todo o Brasil</p>
    </div>

    <div class="valor-total">
      <h2>Total:</h2>
      <h2>{{ valorMaisFrete | currency: "BRL" : "symbol" : "1.2-2" }}</h2>
    </div>
    <div class="botao-comprar" (click)="finalizarCompra()">
      FINALIZAR COMPRA
    </div>
  </div>
</div>
