.carrinho-compras-container {
  margin-top: 90px;
  background: rgba(255, 255, 255);
  position: fixed;
  right: 0; /* Alterado para 'right' */
  top: 0; /* Opcional: ajuste conforme necessário */
  height: 100vh;
  width: 400px; /* Opcional: ajuste conforme necessário */
  /* border: 1px solid red; */
  z-index: 1000; /* Opcional: ajuste conforme necessário */
  overflow-y: auto; /* Opcional: para adicionar uma barra de rolagem se necessário */
  /* color: red; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.total-produto {
  margin-top: 30px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;
}

.total-produto > p {
  font-size: 15px;
}

.texto {
  display: flex;
  justify-content: space-between;
}

.texto > button {
  width: 25px;
  background: none;
  border: 1.5px solid black;
}

.texto > button:hover {
  background-color: #eee;
  color: #333;
}
