.carrinho-compras-container {
  margin-top: 90px;
  background: rgba(255, 255, 255);
  position: fixed;
  right: 0;
  top: 0; /* Remova ou ajuste esta linha */
  height: 100%; /* Adicione esta linha para ocupar 100% da altura da viewport */
  max-height: 90vh;
  z-index: 1000;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.total-produto {
  margin-top: 30px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;
}

.total-produto > p {
  font-size: 15px;
}

.texto {
  display: flex;
  justify-content: space-between;
}

.texto > button {
  width: 25px;
  background: none;
  border: 1.5px solid black;
}

.texto > button:hover {
  background-color: #eee;
  color: #333;
}

.preco-parcial {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.frete > p {
  font-size: 12px;
  border-bottom: 1px solid black;
}

.valor-total {
  display: flex;
  justify-content: space-between;
}

.botao-comprar {
  margin-top: 25px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: rgba(235, 144, 59);
}
