<div class="carrinho-compras-container">
  <div class="carrinho-compras-container__elementos">
    <div class="texto">
      <h3>CARRINHO DE COMPRAS</h3>
      <button type="" (click)="abrirCarrinhoDeCompras()">X</button>
    </div>
    <div class="total-produto">
      <p>PRODUTO</p>
      <p>SUBTOTAL</p>
    </div>
    <app-produto-card></app-produto-card>
    <div class="preco-parcial">
      <h5>SUBTOTAL</h5>
      <h4>R$ 45,00</h4>
    </div>
    <div class="frete">
      <p>Frete grátis para todo o Brasil</p>
    </div>

    <div class="valor-total">
      <h2>Total:</h2>
      <h2>R$ 1656,00</h2>
    </div>
    <div class="botao-comprar">FINALIZAR COMPRA</div>
  </div>
</div>
