<div class="produto-box">
  <div class="produto-container">
    <div class="produto-container-left">
      <div class="image-container">
        <img
          src="https://acdn.mitiendanube.com/stores/001/097/946/products/articulacao-protetica-de-joelho-3r80-11-3d30f02f26fa2ffb9d15844040244923-1024-1024.webp"
          alt=""
        />
      </div>
      <h1>Página de produto</h1>
    </div>

    <div class="produto-container-right">
      <h3>Meia Coto Algodão Prothetic Sock Branca 451F2 - Ottobock</h3>
      <p>R$ 10.00</p>
      <div class="parcelas">
        <div class="numero-parcelas">6</div>
        <div>x de</div>
        <div class="preco-parcela">R$ 10.00</div>
        <div>sem juros</div>
      </div>
      <h4>5% de desconto no pix</h4>
      <h5>Ver meios de pagamento</h5>
      <hr />
    </div>
  </div>
</div>
